<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-4">
                    <small class="d-block mb-3">mlf-core</small>
                    <small class="d-block mb-3">
                        Website by <a href="https://twitter.com/LukasHeumos">Lukas Heumos</a>.
                        <a href="http://getbootstrap.com/">Bootstrap</a> CSS framework,
                        <a href="http://jquery.com/">jQuery</a> JS and syntax colouring
                        with <a href="https://highlightjs.org/">highlight.js</a>. Inspired by <a href="https://nf-co.re/">nf-core</a>.
                    </small>
                    <div class="d-md-flex">
                        <div class="btn-toolbar mb-3 mr-4" role="toolbar">
                        </div>
                        <div class="social-icons mb-3">
                            <a href="https://discord.gg/Mv8sAcq" target="_blank" title="Discord" data-toggle="tooltip">
                                <img src="../static/assets/img/icons/discord.svg"/>
                            </a>
                            <a href="https://github.com/mlf-core/mlf-core" target="_blank" class="social-github" title="GitHub" data-toggle="tooltip">
                                <img src="../static/assets/img/icons/github_icon.svg"/>
                            </a>
                            <a href="https://twitter.com/mlf-core" target="_blank" title="twitter" data-toggle="tooltip">
                                <img src="../static/assets/img/icons/twitter_icon.svg"/>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-6 col-md">
                    <h5>Getting Started</h5>
                    <ul class="list-unstyled">
                        <li><a href="/templates">Available templates</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md" style="margin-right: 20%">
                    <h5>About mlf-core</h5>
                    <ul class="list-unstyled">
                        <li><a href="/about">About mlf-core</a></li>
                        <li><a href="/stats">Statistics</a></li>
                        <li><a href="/join" class="mt-1 btn btn-outline-success">Join mlf-core</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
